<form>
  <div class="form-group">
    <label for="exampleInputEmail1">search</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1"  placeholder="search....">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>